@import "tailwindcss";

/* Custom CSS */

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    margin: 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}